

.login-container {
  background-color: #284f49;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-subcontainer {
    padding: 0px !important;
    width: 80%;
    background-color: white;
    height: 80vh;
  }

:where(.css-dev-only-do-not-override-p7e5j5).ant-card .ant-card-body {
  padding: 0px;
  /* border-radius: 0 0 8px 8px; */
}



@media (max-width: 576px) {
  .login-container {
    height: auto;
  }
  .login-subcontainer {
    height: 50%;
  }
 
}
