
.App-header {
  background-color: #284F49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.ant-layout .ant-layout-sider-zero-width-trigger {
  top:0px;
}

.desktop-menu {
  display: block;

}
.mobile-menu-icon {
  display: none;
}

/* Mobile view */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}

.mobile-menu {
  background-color: #010001;
  position: fixed;
  top: 63px;
  right: -240px; 
  height: 100vh;
  width: 240px; 
  transition: right 0.3s ease-in-out; 
  z-index: 1000;
}


.mobile-menu.show {
  right: 0; 
}
.mobile-menu .ant-menu-submenu-popup {
  flex-direction: column;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,.ant-tabs .ant-tabs-tab:hover {
  color:#284F49;
}
.ant-tabs-nav .ant-tabs-ink-bar {
  background-color: #284F49;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-layout-header {
  height: 64px;
  padding: 0 20px;
  color: #fff;
  line-height: 64px;
  background: #284F49 !important;
}

.default-btn{
  color: #fff;
  background: #284F49;
  height:35px;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light .ant-menu-item-selected{
  color:#284F49;
  background: #e8f2f1;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
  background-color:  #284F49 !important;
}

/* Update styles for input, select, and datepicker */
.ant-input:focus,
.ant-input:hover,
.ant-select-focused,
.ant-select:hover,
.ant-picker-focused,
.ant-picker:hover {
  border-color: #284F49;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select:not(.ant-select-customize-input) .ant-select-selector:hover,
:where(.css-dev-only-do-not-override-p7e5j5).ant-select:not(.ant-select-customize-input) .ant-select-selector:focus{
  border-color: #284F49 !important;
}

.ant-select-selector-focused,
.ant-select-selector:hover {
  border-color: #284F49;
}

/* Additional styling for the border of DatePicker input */
.ant-picker-input:focus,
.ant-picker-input:hover {
  border-color: #284F49;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color:#fff;
  background-color:  #284F49 !important;
}

::-webkit-scrollbar {
  width: 1px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

.custom-input {
  height: 37px;
}

.blue-checkbox {
  background-color: #284F49; 
  color: white;
  border-radius: 4px; 
}

.blue-checkbox input:checked {
  background-color: #284F49; 
  border-color: #284F49; 
}




